* {
  box-sizing: border-box;
}
body, html {
  padding: 0;
  margin: 0;
  font-family: Arial;
}
header {
  position: sticky;
  top: 0;
  box-shadow: 0 -2px 1rem black;
  background: purple;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
}
#buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
}
#speed {
  padding: .2rem .2rem;
  font-size: 1.1em;
  background: transparent;
  border: none;
  color: white;
  text-align-last: right;
  outline: 0px;
}
#run {
  display: inline-block;
  font-size: 0;
  transition: all .3s;
  width: 0;
  height: 0;
  transform: rotate(360deg);
  border-style: solid;
  border-width: 16px 0 16px 24px;
  border-color: transparent transparent transparent #ffffff;
}
#run.running {
  border-color: white;
  border-width: 16px 0 16px 32px;
  border-radius: 5px;
}
#cells {
  display: flex;
  overflow-x: scroll;
  font-size: 1.25rem;
  padding: 10px 5px;
  padding-right: 0;
  /*scrollbar-width: none;
  -ms-overflow-style: none;*/
}
/*#cells::-webkit-scrollbar {
  display: none;
}*/
#cells .cell {
  border: 1px solid black;
  padding: 10px;
}
#cells .cell:not(:last-child) {
  border-right: none;
}
#cells > .active {
  background: yellow;
}
#program {
  width: 100%;
  font-size: 1.7rem;
}
#stdout {
  display: block;
  font-family: monospace;
  min-height: 1em;
  overflow-x: scroll;
  font-size: 1.5rem;
  white-space: nowrap;
}
body.autosave-enabled #autosave-notice {
  display: none;
}